
*{
  border:dotted
  
}
h1{
    color:darkblue
}
.header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between
}
.grid{
    background-color: chartreuse;
    
    display:flex;
    justify-content:space space-evenly;
    flex-wrap: wrap;
}
.grid p{
    text-align:center;
    color: red;
}
.subhead{
    background-color: seagreen;
    color:rgb(255, 0, 170);
    text-align:center;
}